<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.AnnualFestivalMapper">

    <insert id="insert" >

        insert into cl_dcgiftv2_group_data (uid,type)
        value(#{uid},#{type})
        ON DUPLICATE KEY UPDATE
        <if test="type != null ">
            type =  #{type}
        </if>

    </insert>

</mapper>