<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.BidMetricsInfoMapper">


    <insert id="insert" parameterType="models.BidMetricsInfoModel">

        insert into bid_metrics_info (user_anchor_online,user_pay_first_uv_online, user_unpaid_first_uv_online,user_gift_price_total_online,
        user_follow_total_online)
        value(#{user_anchor_online},#{user_pay_first_uv_online}, #{user_unpaid_first_uv_online},#{user_gift_price_total_online},
        #{user_follow_total_online})
        ON DUPLICATE KEY UPDATE
        <if test="user_pay_first_uv_online != null and user_pay_first_uv_online > 0">
            user_pay_first_uv_online = #{user_pay_first_uv_online},
        </if>

        <if test="user_unpaid_first_uv_online != null and user_unpaid_first_uv_online > 0 ">
            user_unpaid_first_uv_online =  #{user_unpaid_first_uv_online},
        </if>

        <if test="user_gift_price_total_online != null and user_gift_price_total_online != 0 ">
            user_gift_price_total_online = #{user_gift_price_total_online},
        </if>

        <if test="user_follow_total_online != null and user_follow_total_online > 0 ">
            user_follow_total_online = #{user_follow_total_online},
        </if>

        user_anchor_online = #{user_anchor_online}
    </insert>

</mapper>