<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.WaterLogAggMapper">

    <resultMap id="model" type="models.WaterLogAggModel">

        <id column="id" property="id"/>
        <result column="game_ids" property="gameIds" />
        <result column="item_ids" property="itemIds" />
        <result column="codes" property="codes" />
        <result column="type" property="type" />
        <result column="types" property="types" />
    </resultMap>

    <select id="select" useCache="false" timeout="300000"  resultMap="model">

        select id,item_ids,game_ids,codes,type,types from flink_water_log_agg where id = #{id} and type=#{type};

    </select>

    <select id="selectByName" useCache="false"  resultMap="model">

        select id,item_ids,game_ids,codes,type,types from flink_water_log_agg where job_name = #{jobName} and type=#{type};

    </select>

</mapper>