<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.FeatureVideoShortViewDurationMapper">

    <resultMap id="ModelMap" type="models.FeatureVideoShortViewDurationModel">
        <id column="vid" property="vid" jdbcType="VARCHAR"  />
        <id column="view_seconds" property="view_seconds" jdbcType="INTEGER"  />
        <id column="valid_uv" property="valid_uv" jdbcType="INTEGER"  />

    </resultMap>

    <delete id="delete" timeout="300000">

        delete
        from alg_feature_video_view_detail
        where (leave_time &lt; DATE_ADD(now(), INTERVAL -5 MINUTE) and enter_time &lt;= leave_time)
           or (enter_time &lt;= CURDATE() and EXTRACT(HOUR FROM LOCALTIME()) = '6');
    </delete>

    <select id="select" resultMap="ModelMap">

        select concat("alg:feature:video:v1:", vid)                                                       as vid
             , sum(
                case
                    when enter_time &lt;= DATE_ADD(now(), INTERVAL -2 MINUTE) and leave_time &gt;= now()
                        then TIMESTAMPDIFF(SECOND, DATE_ADD(now(), INTERVAL -2 MINUTE), now())
                    when enter_time &lt;= DATE_ADD(now(), INTERVAL -2 MINUTE) and leave_time &lt; now() and
                         leave_time &gt;= DATE_ADD(now(), INTERVAL -2 MINUTE)
                        then TIMESTAMPDIFF(SECOND, DATE_ADD(now(), INTERVAL -2 MINUTE), leave_time)
                    when enter_time &gt; DATE_ADD(now(), INTERVAL -2 MINUTE) and leave_time &lt; now() and
                         leave_time &gt;= DATE_ADD(now(), INTERVAL -2 MINUTE)
                        then TIMESTAMPDIFF(SECOND, enter_time, leave_time)
                    when enter_time &gt; DATE_ADD(now(), INTERVAL -2 MINUTE) and leave_time &gt;= now()
                        then TIMESTAMPDIFF(SECOND, enter_time, now())
                    else 0
                    end
            )                                                                                             as view_seconds
             , count(distinct case
                                  when TIMESTAMPDIFF(SECOND, enter_time, leave_time) &gt; 15 and
                                       enter_time &gt;= DATE_ADD(now(), INTERVAL -2 MINUTE) then uid end) as valid_uv
        from (select vid
                   , uid
                   , enter_time
                   , case when enter_time &gt;= leave_time then '2099-01-01 00:00:00' else leave_time end as leave_time
              from alg_feature_video_view_detail
              where enter_time &gt;= CURDATE()) a
        where leave_time &gt;= DATE_ADD(now(), INTERVAL -2 MINUTE)
        group by concat("alg:feature:video:v1:", vid)
        ;
    </select>

</mapper>